*~
.DS_Store
+*#
.#*
*.swp
._*

admin/db/schema.*
admin/tmp/[^.]*
admin/log/[^.]*

application/config/database.yml
application/config/selenium.yml
application/db/schema.*
application/tmp/[^.]*
application/log/[^.]*
application/doc/app
# For local rake tasks.
application/lib/tasks/local.rake
# Local PostGIS files
application/db/spatial/*

conversion/tmp/[^.]*
conversion/log/[^.]*
conversion/coverage

upload/tmp/[^.]*
upload/log/[^.]*
upload/config/nginx.development.conf

download/tmp/[^.]*
download/log/[^.]*

storage/[^.]*

facebook/tmp/[^.]*
facebook/log/[^.]*

parkplace/log/[^.]*

shared/tmp/[^.]*
shared/coverage
shared/config/google_maps.yml

monitor_client/config/config.yml

*.cache
nohup.out

.todo

hostname.yml
TAGS

*.LOCAL.*
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.orig
